.header {
  color: #062d8f;
  float: left;
}

.participant-table {
  border-radius: 20px !important;
  max-width: 1250px;
  font-size: 20px;
  align-self: center;
}

.participant-row {
  border-radius: 10px !important;
  color: #626275 !important;
  border: 2px solid #ffffff !important;
}

.participant-row:hover {
  border: 2px solid rgba(77, 126, 248, 0.5) !important;
}

.table-header {
  color: #97999b;
}

.rotate {
  transform: rotate(180deg);
}
