.participant {
  border-radius: 20px !important;
  font-size: 20px;
  min-width: 512px !important;
}

.participant-header {
  color: #626275 !important;
}

.codes {
  color: #97999b !important;
}

.code {
  background-color: #f1f2f3 !important;
  color: #000000 !important;
}

.right {
  text-align: right;
  color: #626275 !important;
}
